@import "tailwindcss";

@theme {
  --font-sans: var(--font-sans);
  --font-tajawal: var(--font-tajawal);
  --font-mono: var(--font-mono);
}

@layer base {
  html {
    background-color: #09090b;
    color: #f4f4f5;
  }
  body {
    margin: 0;
    padding: 0;
    background-color: #09090b;
    color: #f4f4f5;
    overflow-x: clip;
    width: 100%;
  }
}

@keyframes spin-around {
  0% {
    transform: translateZ(0) rotate(0);
  }
  15%, 35% {
    transform: translateZ(0) rotate(90deg);
  }
  65%, 85% {
    transform: translateZ(0) rotate(270deg);
  }
  100% {
    transform: translateZ(0) rotate(360deg);
  }
}

@keyframes shimmer-slide {
  to {
    transform: translate(calc(100cqw - 100%), 0);
  }
}

.animate-spin-around {
  animation: spin-around calc(var(--speed) * 2) infinite linear;
}

.animate-shimmer-slide {
  animation: shimmer-slide var(--speed) ease-in-out infinite alternate;
}
